<% if signed_in? %>
	<%= render 'targets/sidebar' %>
<% else %>
	<div class="ui top two item attached tabular menu">
		<a class="active item" data-tab="sign-up">注册</a>
		<a class="item" data-tab="sign-in">登录</a>
	</div>
	<div class="ui bottom attached active tab segment" id="sign-up" data-tab="sign-up">
		<%= render partial: 'users/registrations/sign_up', locals: { user: User.new } %>
	</div>
	<div class="ui bottom attached tab segment" id="sign-in" data-tab="sign-in">
		<%= render partial: 'users/sessions/sign_in', locals: { user: User.new } %>
	</div>
<% end %>