<% if signed_in? %>
	<%= render 'targets/sidebar' %>
<% else %>
	<div class="col-md-4 sign-up panel panel-default pull-right">
		<div class="panel-body">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li role="presentation" class="active"><a href="#sign-up" role="tab" data-toggle="tab">注册</a></li>
				<li role="presentation"><a href="#sign-in" role="tab" data-toggle="tab">登陆</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="sign-up" role="tabpanel">
					<%= render partial: 'users/registrations/sign_up', locals: { user: @new_user } %>
				</div>
				<div class="tab-pane fade" id="sign-in" role="tabpanel">
					<%= render partial: 'users/sessions/sign_in', locals: { user: @new_user } %>
				</div>
			</div>
		</div>
	</div>
<% end %>