<% provide(:title, "精选") %>

<div class="container">
	<div class="ui grid">
		<div class="twelve wide column">
			<div class="ui dividing header">精选</div>
			<div class="ui three cards">
				<% @targets.each do |target| %>
					<%= render partial: 'targets/card', locals: { target: target } %>
				<% end %>
			</div>
			<%= will_paginate @targets, { class: "flickr_pagination", next_label: ">>", previous_label: "<<" } %>
		</div>
		<div class="four wide column">
			<%= render 'sidebar' %>
		</div>
	</div>
</div>