<div class="container">
	<div class="row container">
		<div class="col-md-8 hots hidden-xs">
				<div class="page-header">
					<h3>热门目标</h3>
				</div>			
				<% @targets.each do |target| %>
					<%= render partial: 'targets/progress', object: target %>
				<% end %>
		</div>
		<%= render 'users/sidebar' %>
	</div>
</div>