<div class="container">
	<div class="row">
		<div class="col-md-8 hots hidden-xs">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<li><%= value %></li>
				</div>
			<% end %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="text-muted">梦想的彼方</span>
				</div>
				<ul class="list-group">
					<% @targets.each do |target| %>
						<li class="list-group-item">
							<%= render partial: 'targets/progress_b', locals: { target: target } %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<%= render 'sidebar' %>
	</div>
</div>