<div class="container">
	<h1>捕梦网</h1>
	<div class="row">
		<div class="col-md-7 hots panel panel-default hidden-xs">
			<div class="panel-body">
				<h3>热门目标</h3>
				<ul class="list-group">
					<% @targets.each do |target| %>
						<%= render partial: 'targets/progress', object: target %>
					<% end %>
				</ul>
			</div>

		</div>
		<%= render 'users/sidebar' %>
	</div>
</div>


