<div class="container">
	<div class="ui grid">
		<div class="twelve wide column">
			<h3 class="ui dividing header">
				梦想的彼方
			</h3>
			<div class="ui two cards">
				<% @targets.each do |target| %>
						<%= render partial: 'targets/card', locals: { target: target } %>
				<% end %>
			</div>
		</div>
		<div class="four wide column">
			<%= render 'sidebar' %>
		</div>
	</div>
</div>