<% provide(:title, "登录") %>

<div class="container">
	<% flash.each do |key, value| %>
		<div class="alert alert-warning" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<li><%= value %></li>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-8">
			
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h4 class="text-muted">
						登录
					</h4>
				</div>
				<div class="panel-body">
					<%= render partial: 'users/sessions/sign_in', locals: { user: resource } %>
				</div>
			</div>
		</div>
	</div>
</div>