<% provide(:title, @user.name) %>

<div class="container">
	<div class="ui grid">
		<div class="twelve wide column">
			<div class="ui dividing header"><%= @user.name %>的目标</div>
			<div class="ui three cards">
				<% @user.targets.each do |target| %>
					<%= render partial: 'targets/card', locals: { target: target } %>
				<% end %>
			</div>
		</div>
		<div class="four wide column">
			<%= render 'sidebar' %>
		</div>
	</div>
</div>