<div class="container">
	<div class="row">
		<div class="col-md-8">
			<% current_user.targets.each do |target| %>
				<%= render partial: 'targets/progress', object: target %>
			<% end %>
		</div>
		<%= render 'sidebar' %>
	</div>
</div>