<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div class="page-header"><h3><%= @day.date_at %></h3></div>
			<div>
				<p><%= @day.comment %></p>
			</div>
		</div>
		<%= render 'users/sidebar' %>
	</div>
</div>