<footer>
	<div class="container" style="border-top: 1px solid #ccc">
		<div class="row">
			<div class="col-md-4 text-center" style="border-right: 1px solid #ccc">
				<h5><b>联系我</b></h5>
				<p class="text-muted">Email: cloudy9101@126.com</p>
				<p class="text-muted">Github: <a href="https://github.com/cloudy9101">Cloudy9101</a></p>
			</div>
			<div class="col-md-4 text-center" style="border-right: 1px solid #ccc">
				<h5><b>关于本站</b></h5>
				<p class="text-muted">项目地址：<a href="https://github.com/cloudy9101/dreamweaver">DreamWeaver</a></p>
				<p class="text-muted">这是一个练习...</p>
			</div>
			<div class="col-md-4 text-center">
				<h5><b>Copyright</b></h5>
				<p class="text-muted">Powerd By <a href="http://rubyonrails.org">RubyOnRails</a></p>
				<p class="text-muted">Developped By <a href="http://cloudy9101.github.io">Cloudy9101</a></p>
			</div>
		</div>
	</div>
</footer>